/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    input_folder = false
    output = false

    // Set the containers to use for each component
    container__template = "quay.io/biocontainers/cutadapt:3.5--py36hc5360cc_0"

}